img.d-block{
    height: 700px;
   
}
.ash{
    color: white;
}
.zomato{
    font-size: 60px;
    
} 
.sub-1{
    font-size: 30px;
}
.navbar-brand:hover{
    color: white;
}
.navbar-toggler-icon:hover{
    background-color: black;
    
 
}
